@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'navbar';
@import 'discover';
@import 'historical';
@import 'ourtestimonials';
@import 'footer';

*{
    font-family: Manrope;
    margin: 0;
    padding: 0;
}
.active{
    font-weight: bold;
}
.bi-three-dots{
    display: none;
    color: white;
    font-size: xx-large;
    position: absolute;
    left: 47%;
    top: 90%;
    cursor: pointer;
}
@media (max-width:768px){
    .bi-three-dots{
        display: block;
    }
}
